<!DOCTYPE html>
<html>
    <head>
        <title>PROCONSOLE / RESULT: <%= name %></title>
        <link rel="stylesheet" href="/css/result.css"/>
        <link rel="stylesheet" href="/library/jsonViewer/src/style.css"/>
    </head>
    <%# EJS関数 %>
    <%
        /**
         * ボード全体を表示する
         * @param {string[]} target 受信データのボードデータ
         * @param {{ position1: [number, number], position2: [number, number], size: number, matchPosition: [number, number][], color: boolean }} markingOption `swapHistory`の構造参考
         * @returns {string} `<table><tr><td></td>...</tr>...</table>`
         */
        function show(target, markingOption) {
            const tableInner = target.map((line, y) => {
                let innerHTML = `<tr>`;
                line.split("").forEach((value, x) => {
                    // マーカー指定があるとき、セルに色をつける
                    if (markingOption) {
                        // セルが`position1`に等しい
                        if (x === markingOption?.position1?.at(0) && y === markingOption?.position1?.at(1)) {
                            innerHTML += `<td class="position-1">${value}</td>`;
                        }
                        // セルが`position2`に等しい
                        else if (x === markingOption?.position2?.at(0) && y === markingOption?.position2?.at(1)) {
                            innerHTML += `<td class="position-2">${value}</td>`;
                        }
                        // セルがposition1のスワップによる移動範囲に入っている
                        else if ((x >= markingOption?.position1?.at(0) && x < markingOption?.position1?.at(0) + markingOption?.size) && (y >= markingOption?.position1?.at(1) && y < markingOption?.position1?.at(1) + markingOption?.size)) {
                            innerHTML += `<td class="swapped-area-1">${value}</td>`;
                        }
                        // セルがposition2のスワップによる移動範囲に入っている
                        else if ((x >= markingOption?.position2?.at(0) && x < markingOption?.position2?.at(0) + markingOption?.size) && (y >= markingOption?.position2?.at(1) && y < markingOption?.position2?.at(1) + markingOption?.size)) {
                            innerHTML += `<td class="swapped-area-2">${value}</td>`;
                        }
                        else {
                            let isMatch = false;
                            // セルが既にゴールと一致している
                            if (markingOption.matchPosition) {
                                for (const position of markingOption.matchPositions) {
                                    // 1次元の線形探索
                                    if ([x, y].toString() === position.toString()) {
                                        isMatch = true;
                                        break;
                                    }
                                }
                            }
                            console.log(markingOption?.color)
                            const cellColor = markingOption?.color ?
                                              value === "0" ? "white" :
                                              value === "1" ? "red" :
                                              value === "2" ? "blue" :
                                              value === "3" ? "yellow" : "" : "";
                            innerHTML += isMatch ? `<td class="match">${value}</td>` : `<td class="${cellColor}">${value}</td>`;
                        }
                    }
                    else {
                        innerHTML += `<td>${value}</td>`;
                    }
                });
                innerHTML += `</tr>`;
                return innerHTML;
            }).join("");

            return `<table class="board">${tableInner}</table>`;
        }

        /**
         * ボードを部分的に表示する
         * @param {string[]} target 受信データのボードデータ
         * @param {number} maxWidth 表示させる最大の横のセルの数
         * @param {number} maxHeight 表示させる最大の縦のセルの数
         * @param {string[]} dataType 完成した<table>のクラスとカスタム属性`data-type`に追加するプロパティ
         * @returns {string} `<table><tr><td></td>...</tr>...</table>`
         */
        function showPartial(target, maxWidth, maxHeight, ...dataType) {
            const visibleCellCount = {
                x: Math.round(maxWidth / 2) - 1,
                y: Math.round(maxHeight / 2) - 1
            };
            const hiddenCellCount = {
                x: maxWidth % 2 == 0 ? 2 : 1,
                y: maxHeight % 2 == 0 ? 2 : 1
            };

            const tableInner = target.slice(0, visibleCellCount.y)
                                     .concat(new Array(hiddenCellCount.y).fill("-".repeat(target[0].length)))
                                     .concat(target.slice(-visibleCellCount.y))
                                     .map((line) => {
                                         const splitted = line.split("");
                                         let innerHTML = `<tr>`;
                                         splitted.slice(0, visibleCellCount.x).forEach((value) => {
                                             innerHTML += value === "-" ? `<td class="part">${value}</td>` : `<td>${value}</td>`;
                                         });
                                         innerHTML += `<td class="part">-</td>`.repeat(hiddenCellCount.x);
                                         splitted.slice(-visibleCellCount.x).forEach((value) => {
                                             innerHTML += value === "-" ? `<td class="part">${value}</td>` : `<td>${value}</td>`;
                                         });
                                         innerHTML += `</tr>`
                                         return innerHTML;
                                     }).join("");
            return `<table class="board ${dataType.join(" ")}" data-type="${dataType.join(" ")}">${tableInner}</table>`;
        }
    %>
    <body>
        <div id="splash" class="loading">
            <div class="load-circle"></div>
            <div class="load-text load-blink load-absolute">LOADING</div>
        </div>

        <div class="information">
            <h1><span>問題情報</span><span>PROBLEM INFORMATION</span></h1>
            <p class="card box">サイズ<span><%= board.start.length %> × <%= board.start[0].length %></span></p>
            <% if (time) { %>
            <p class="card box">処理時間<span id="time"><%= time %></span></p>
            <% } %>
            <p class="card box">手数<span><%= count %></span></p>
            <% if (date) { %>
            <p class="card box">日時<span><%= new Date(...date.split("-")).toLocaleString() %></span></p>
            <% } %>
            <div class="box">
                <%- showPartial(board.start, 8, 8, "start") %>
                <%- showPartial(board.goal, 8, 8, "goal") %>
                </div>
            </div>
            <br>
            <a class="card box" href="/replay?id=<%- id  %>" target="_blank">操作をリプレイ</a>
        </div>

        <div class="order-area">
            <h1><span>スワップ履歴</span><span>SWAP HISTORY</span></h1>
            <%- swapHistory?.map((h) => 
                `
                <div class="history box">
                    ${showPartial(h.board.before, 8, 8, "before")}
                    ${showPartial(h.board.after, 8, 8, "after")}
                    <ul>
                        <li class="card box">座標1: <span>(${h.targetPosition.position1.join(", ")})</span></li>
                        <li class="card box">座標2: <span>(${h.targetPosition.position2.join(", ")})</span></li>
                        <li class="card box">選択範囲: <span>${h.targetSize} × ${h.targetSize}</span></li>
                        <li class="card box">
                            JSONでのインデックス
                            <span>
                                "ops" at 
                                <a href="javascript:jumpOrdersJSON(${h.orderRelation.start})">
                                    [${h.orderRelation.end - h.orderRelation.start > 1 ? h.orderRelation.start + " ~ " + (h.orderRelation.end - 1) : h.orderRelation.start}]
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                `
                ).join("")
            %>
        </div>
        
        <div class="order-json-area">
            <button>&lt;&lt;</button>
            <div id="orders"></div>
        </div>

        <div class="board-view-modal-area">
            <div class="container">
                
            </div>
            <div class="board-view-scall-controller">
                <div class="number-field" id="boardViewScale">
                    <button class="decrement-lower-triangle">－</button>
                    <input type="number" value="100" min="1">
                    <button class="increment-upper-triangle">＋</button>
                </div>
            </div>
        </div>
    </body>

    <script type="module">
        import { StopWatch, NumberField } from "/js/class.js";
        import JSONViewer from "/library/jsonViewer/src/jsonViewer.js";
        // EJSタグを用いてクライアントJSの中でもコードを展開する
        // VSCodeが文法エラーを吐くのでテンプレートリテラルでエスケープしつつ各データ型にパースする
        /** EJS変数や関数をインポート */
        const ejsImport = {
            board: JSON.parse(`<%- JSON.stringify(board) %>`),
            orders: JSON.parse(`<%- JSON.stringify(orders) %>`),
            swapHistory: JSON.parse(`<%- JSON.stringify(swapHistory) %>`),
            // 関数だけ文法エラー突破する方法が思いつかん
            show: <%- show %>
        };

        if (`<%- time %>` !== "") {
            document.getElementById("time").innerHTML = StopWatch.format(`<%- time %>`, 0.001);
        }

        /* -- モーダルの設定 -- */
        // モーダル要素取得・閉じる動作登録
        const modal = document.querySelector(".board-view-modal-area");
        addEventListener("click", (e) => e.target == modal ? modal.classList.remove("active") : null);
        // 初期ボードのモーダル登録
        document.querySelector("table.start").addEventListener("click", () => {
            modal.querySelector(".container").innerHTML = ejsImport.show.call(this, ejsImport.board.start, { color: true });
            modal.classList.add("active");
        });
        // 完成ボードのモーダル登録
        document.querySelector("table.goal").addEventListener("click", () => {
            modal.querySelector(".container").innerHTML = ejsImport.show.call(this, ejsImport.board.goal, { color: true });
            modal.classList.add("active");
        });
        // swapHistoryのモーダルをすべて登録
        document.querySelector(".order-area").querySelectorAll(".history")?.forEach((element, index) => {
            element.querySelectorAll("table").forEach((table) => {
                table.addEventListener("click", () => {
                    modal.querySelector(".container").innerHTML = ejsImport.show.call(
                        this,
                        // ここから`show()`の引数
                        // 1. board
                        table.classList.contains("before") ? ejsImport.swapHistory[index].board.before :
                            table.classList.contains("after") ? ejsImport.swapHistory[index].board.after : null,
                        // 2. markingOption
                        {
                            position1: ejsImport.swapHistory[index].targetPosition.position1,
                            position2: ejsImport.swapHistory[index].targetPosition.position2,
                            size: ejsImport.swapHistory[index].targetSize,
                            matchPositions: table.classList.contains("before") ? ejsImport.swapHistory[index].matchPositions.before :
                                                table.classList.contains("after") ? ejsImport.swapHistory[index].matchPositions.after : null,
                        }
                    );
                    modal.classList.add("active");
                });
            })
        });

        // モーダル内のボードの表示スケールを変更する設定
        new NumberField(document.querySelector("#boardViewScale")).onValueChanged = (value) => modal.style.fontSize = `${value}%`;

        /* -- JSONビューアの設定 -- */

        // JSONViewerのプロトタイプにメソッドを拡張
        /** オブジェクト構造が展開表示されているか確認する */
        JSONViewer.prototype.isExpanded = function (ele, target) {
            return ele.classList.contains("add-height") && target.classList.contains("rotate90");
        };

        /** オブジェクト構造を展開する */
        JSONViewer.prototype.expandItem = function (ele, target) {
            if (ele && target) {
                ele.classList.add('add-height');
                target.classList.add('rotate90');
            }
        };

        /** DOM上に生成したJSONViewer */
        const orderView = new JSONViewer({
            container: document.getElementById("orders"),
            data: JSON.stringify(ejsImport.orders),
            theme: "light",
            expand: true
        });

        /** ビューを開くサイドボタン */
        const sideButton = document.querySelector(".order-json-area").querySelector("button");
        
        // サイドボタンを押すとビューが開くように設定
        sideButton.addEventListener("click", function() {
            orderView.options.container.classList.toggle("active");
            if (orderView.options.container.classList.contains("active")) {
                this.innerHTML = `>>`;
                this.parentElement.style.backgroundColor = "white";
            }
            else {
                this.innerHTML = `<<`;
                this.parentElement.style.backgroundColor = "transparent";
            }
        });

        // windowメソッドに登録しないとhtmlから関数を動かせなかったのでやむを得ずこうしたのです
        window.jumpOrdersJSON = function (index) {
            const rootDirectory = orderView.options.container.children[0];
            // オブジェクトの左辺（キー）
            const left = rootDirectory.children[0];
            // オブジェクトの右辺（バリュー）
            const right = rootDirectory.children[1];
            // ビューの大本が展開されていなかったら展開する
            // この辺の使い方はJSONViewerの実装方法に合わせてみただけ
            if (!orderView.isExpanded(right, left.querySelector("span"))) {
                orderView.expandItem(right, left.querySelector("span"));
            }
            // サイドメニューが開いていなかったら展開する
            if (!orderView.options.container.classList.contains("active")) {
                orderView.options.container.classList.add("active");
                sideButton.innerHTML = `>>`;
                sideButton.parentElement.style.backgroundColor = "white";
            }
            orderView.options.container.scrollTo({
                top: right.children[index].offsetTop,
                behavior: "smooth"
            });
        };

        // ロードが完了したらローディングスプラッシュを消す
        window.addEventListener("load", () => {
            document.getElementById("splash").classList.add("inactive");
        })
    </script>
</html>